html:before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

#webamp {
  position: fixed !important;
  z-index: 10000 !important;
  top:40% !important;
  margin-bottom:100vh !important;
  left:0% !important;
  bottom:0% !important;
  right: 0% !important;
}

* {
  font-family: none !important;
}