#webamp {
  position: fixed !important;
  z-index: 10000 !important;
  top:40% !important;
  margin-bottom:100vh !important;
  left:0% !important;
  bottom:0% !important;
  right: 0% !important;
}

* {
  font-family: none !important;
}